<form action="Scripts/sendresults.php" method="post" name="Gutters" style="background-image: url(http://paintinggrandrapids.com/Assets/OrangeBgnd_form.jpg); padding:20px; width:75%; margin-left:80px; color:#FFF; font-weight:bold">
      <p>First Name
        <input name="First Name" id="First Name" size="40" type="text">
      </p>
      <p>Last Name
        <input name="Last Name" id="Last Name" size="40" type="text">
      </p>
      <p>Company
        <input name="company" id="company" size="30" type="text">
      </p>
      <p>Address
        <input name="Address" id="Address" size="50" type="text">
      </p>
      <p>City
  <input name="City" id="City" size="30" type="text">
      State
      <input name="State" id="State" size="2" type="text">
      Zip
      <input name="Zip" id="Zip" size="5" type="text">
      </p>
      <p>Phone
        <input name="Phone" id="Phone" size="12" type="text">
      e-mail
      <input name="email" id="email" size="30" type="text">
      </p>
      <p>Type of Project:</p>
      <p>
        <input name="walls" id="walls" type="checkbox">
      Interior 
       &nbsp;
       <input name="Ceiling" id="Ceiling" type="checkbox">
      Exterior &nbsp;</p>
<p>&nbsp;</p>
      <p>Other Details</p>
      <p>
        <textarea name="details" id="details" cols="45" rows="5"></textarea>
      </p>
      <p>&nbsp;</p>
      <p>
        <input name="submit" id="submit" value="Submit" type="submit">
        <input name="reset" id="reset" value="Reset" type="reset">
        <br>
      </p>
    </form>