<form action="#">
<div id="buyer_flow" class="custom_main_font">
<div style="display: block;" id="buyer_flow_header" class="custom_header_color buyer_flow_header">
    <div class="custom_header_color buyer_flow_top_line">
    <table style="height: 30px; width: 100%;" cellpadding="0" cellspacing="0">
    <tbody id="buyer_flow_top_line_body">
      <tr>
        <td align="right" valign="middle">Online booking powered by</td>
        <td style="width: 10px;">&nbsp;</td>
        <td width="100">
          <a class="site_name" target="_blank" href="http://www.bookfresh.com/index.html"><img src="https://s3.amazonaws.com/assets.bookfresh.com/widget/widget_bf_logo.png" alt="http://www.bookfresh.com/index.html" border="0" height="23" width="100"></a>
        </td>
        <td style="width: 12px;">&nbsp;</td>
      </tr>
    </tbody>
    </table>
  </div>
  </div>
  <div id="buyer_flow_cart" class="custom_text_color custom_header_color buyer_flow_cart" style="">
    <table style="height: 42px;" cellpadding="0" cellspacing="0">
      <tbody><tr>
        <td style="width: 15px;"><img src="http://www.bookfresh.com/images/spacer.gif" alt="" height="1" width="12"></td>
        <td id="buyer_flow_cart_content" class="custom_text_color buyer_flow_cart_content">30 minutes Schedule an Estimate <a href="javascript:show_cart();" class="buyer_flow_cart_link">view / change</a></td>
              </tr>
    </tbody></table>
  </div>
<div id="buyer_flow_body" class="custom_background_color" style="height: 514px; overflow: auto;">

    <div style="display: none;" class="custom_text_color buyer_flow_step">
    <div class="custom_text_color buyer_flow_step_title">
      Choose a service
    </div>
    <div id="flow_form_service" class="buyer_flow_step_form">
      <div class="buyer_flow_step_form_padding">
        <table class="flow_form_table" cellpadding="0" cellspacing="0">
                    <tbody><tr>
            <td class="buyer_description_booknow_cell" valign="top"><input class="custom_button_color booknow_button" onclick="set_sub_service_and_duration('5790f84d9f1824f133f3df13e5d04e8b', 'c72d020cad9f2cbfb36ba5f1f3535a4b', '')" value="Book Now" type="button"></td>
            <td class="w16" width="16"><img src="http://www.bookfresh.com/images/spacer.gif" alt="" height="1" width="16"></td>
            <td class="buyer_description" width="100%">
              <a class="service_description" href="javascript:show_sub_service_description('buyer_description_5790f84d9f1824f133f3df13e5d04e8b_1');">Schedule an Estimate</a>
              <div class="buyer_description_copy" id="buyer_description_5790f84d9f1824f133f3df13e5d04e8b_1">
                                <br>
                <a class="service_description" style="font-size: 11px;" href="javascript:show_sub_service_description('buyer_description_5790f84d9f1824f133f3df13e5d04e8b_1');">Hide</a>
              </div>
            </td>
            <td width="14"><img src="http://www.bookfresh.com/images/spacer.gif" alt="" height="1" width="14"></td>
            <td class="buyer_duration">30&nbsp;minutes</td>
            <td width="11"><img src="http://www.bookfresh.com/images/spacer.gif" alt="" height="1" width="11"></td>
            <td class="buyer_price">
              Free</td>
          </tr>
          <tr>
            <td colspan="7" height="9"></td>
          </tr>
                  </tbody></table>
      </div>
    </div>
  </div>
    <div style="display: block;" class="custom_text_color buyer_flow_step">
    <div class="custom_text_color buyer_flow_step_title">
      Select a date and time
      <span>
        All times in EDT      </span>
    </div>
    <div id="flow_form_datetime" class="buyer_flow_step_form">
      <div class="flow_form_choice" style="text-align: center;">
        <table cellpadding="0" cellspacing="0" width="100%">
          <tbody><tr>
            <td valign="top">
              <div class="datepicker_wrapper">
                <div id="datepicker_value">Friday, August 22, 2014</div>
                <div class="hasDatepicker" id="datepicker_container"><div style="display: block;" class="ui-datepicker-inline ui-datepicker ui-widget ui-widget-content ui-helper-clearfix ui-corner-all"><div class="ui-datepicker-header ui-widget-header ui-helper-clearfix ui-corner-all"><a class="ui-datepicker-prev ui-corner-all ui-state-disabled" title="<<"><span class="ui-icon ui-icon-circle-triangle-w">&lt;&lt;</span></a><a class="ui-datepicker-next ui-corner-all" data-handler="next" data-event="click" title=">>"><span class="ui-icon ui-icon-circle-triangle-e">&gt;&gt;</span></a><div class="ui-datepicker-title"><span class="ui-datepicker-month">Aug</span>&nbsp;<span class="ui-datepicker-year">2014</span></div></div><table class="ui-datepicker-calendar"><thead><tr><th class="ui-datepicker-week-end"><span title="Sunday">S</span></th><th><span title="Monday">M</span></th><th><span title="Tuesday">T</span></th><th><span title="Wednesday">W</span></th><th><span title="Thursday">T</span></th><th><span title="Friday">F</span></th><th class="ui-datepicker-week-end"><span title="Saturday">S</span></th></tr></thead><tbody><tr><td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">1</span></td><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">2</span></td></tr><tr><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">3</span></td><td class=" ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">4</span></td><td class=" ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">5</span></td><td class=" ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">6</span></td><td class=" ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">7</span></td><td class=" ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">8</span></td><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">9</span></td></tr><tr><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">10</span></td><td class=" ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">11</span></td><td class=" ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">12</span></td><td class=" ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">13</span></td><td class=" ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">14</span></td><td class=" ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">15</span></td><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">16</span></td></tr><tr><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">17</span></td><td class=" ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">18</span></td><td class=" ui-datepicker-unselectable ui-state-disabled undefined"><span class="ui-state-default">19</span></td><td class=" ui-datepicker-available ui-datepicker-today" data-handler="selectDay" data-event="click" data-month="7" data-year="2014"><a class="ui-state-default ui-state-highlight" href="#">20</a></td><td class=" ui-datepicker-available" data-handler="selectDay" data-event="click" data-month="7" data-year="2014"><a class="ui-state-default" href="#">21</a></td><td class=" ui-datepicker-available ui-datepicker-current-day" data-handler="selectDay" data-event="click" data-month="7" data-year="2014"><a class="ui-state-default ui-state-active" href="#">22</a></td><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled ui-datepicker-unavailable"><span class="ui-state-default">23</span></td></tr><tr><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled ui-datepicker-unavailable"><span class="ui-state-default">24</span></td><td class=" ui-datepicker-available" data-handler="selectDay" data-event="click" data-month="7" data-year="2014"><a class="ui-state-default" href="#">25</a></td><td class=" ui-datepicker-available" data-handler="selectDay" data-event="click" data-month="7" data-year="2014"><a class="ui-state-default" href="#">26</a></td><td class=" ui-datepicker-available" data-handler="selectDay" data-event="click" data-month="7" data-year="2014"><a class="ui-state-default" href="#">27</a></td><td class=" ui-datepicker-available" data-handler="selectDay" data-event="click" data-month="7" data-year="2014"><a class="ui-state-default" href="#">28</a></td><td class=" ui-datepicker-available" data-handler="selectDay" data-event="click" data-month="7" data-year="2014"><a class="ui-state-default" href="#">29</a></td><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled ui-datepicker-unavailable"><span class="ui-state-default">30</span></td></tr><tr><td class=" ui-datepicker-week-end ui-datepicker-unselectable ui-state-disabled ui-datepicker-unavailable"><span class="ui-state-default">31</span></td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td><td class=" ui-datepicker-week-end ui-datepicker-other-month ui-datepicker-unselectable ui-state-disabled">&nbsp;</td></tr></tbody></table></div></div>
                <div id="appointment_count">16 appointments available</div>
              </div>
            </td>
            <td><img src="http://www.bookfresh.com/images/spacer.gif" alt="" height="1" width="20"></td>
            <td valign="top">
              <div style="display: block; height: auto;" id="datetime_bubbles"><table cellpadding="0" cellspacing="0"><tbody><tr><td id="bubbles_left" valign="top"><div id="817837184b1e2a59507cd199fe3f81f7_9:00 am" class="availability_bubble available_yes"><div class="available_yes_content">9:00 am</div></div><div id="817837184b1e2a59507cd199fe3f81f7_9:30 am" class="availability_bubble available_yes"><div class="available_yes_content">9:30 am</div></div><div id="817837184b1e2a59507cd199fe3f81f7_10:00 am" class="availability_bubble available_yes"><div class="available_yes_content">10:00 am</div></div><div id="817837184b1e2a59507cd199fe3f81f7_10:30 am" class="availability_bubble available_yes"><div class="available_yes_content">10:30 am</div></div><div id="817837184b1e2a59507cd199fe3f81f7_11:00 am" class="availability_bubble available_yes"><div class="available_yes_content">11:00 am</div></div><div id="817837184b1e2a59507cd199fe3f81f7_11:30 am" class="availability_bubble available_yes"><div class="available_yes_content">11:30 am</div></div><div id="817837184b1e2a59507cd199fe3f81f7_12:00 pm" class="availability_bubble available_yes"><div class="available_yes_content">12:00 pm</div></div><div id="817837184b1e2a59507cd199fe3f81f7_12:30 pm" class="availability_bubble available_yes"><div class="available_yes_content">12:30 pm</div></div></td><td style="display: block; width: 12px;">&nbsp;</td><td id="bubbles_right" valign="top"><div id="817837184b1e2a59507cd199fe3f81f7_1:00 pm" class="availability_bubble available_yes"><div class="available_yes_content">1:00 pm</div></div><div id="817837184b1e2a59507cd199fe3f81f7_1:30 pm" class="availability_bubble available_yes"><div class="available_yes_content">1:30 pm</div></div><div id="817837184b1e2a59507cd199fe3f81f7_2:00 pm" class="availability_bubble available_yes"><div class="available_yes_content">2:00 pm</div></div><div id="817837184b1e2a59507cd199fe3f81f7_2:30 pm" class="availability_bubble available_yes"><div class="available_yes_content">2:30 pm</div></div><div id="817837184b1e2a59507cd199fe3f81f7_3:00 pm" class="availability_bubble available_yes"><div class="available_yes_content">3:00 pm</div></div><div id="817837184b1e2a59507cd199fe3f81f7_3:30 pm" class="availability_bubble available_yes"><div class="available_yes_content">3:30 pm</div></div><div id="817837184b1e2a59507cd199fe3f81f7_4:00 pm" class="availability_bubble available_yes"><div class="available_yes_content">4:00 pm</div></div><div id="817837184b1e2a59507cd199fe3f81f7_4:30 pm" class="availability_bubble available_yes"><div class="available_yes_content">4:30 pm</div></div></td></tr></tbody></table></div>
              <div style="display: none;" id="datetime_bubbles_msg">
                <img src="http://www.bookfresh.com/images/ajax-loader.gif" alt="" border="0">
                <br>
                One moment please.
              </div>
              <div style="display: none;" id="datetime_bubbles_no_availability">
                <div>Sorry, there are no available appointments on this date.</div>
                <div style="margin-top: 5px;">Please select another date on the calendar.</div>
              </div>
            </td>
          </tr>
        </tbody></table>
      </div>
    </div>
    </div>
    <div class="custom_text_color buyer_flow_step">
    <div class="custom_text_color buyer_flow_step_title">
      Provide Your Location
    </div>
    <div id="flow_form_address" class="buyer_flow_step_form">
      <div class="flow_form_choice">
        <table>
          <tbody><tr>
            <td class="buyer_form_label">Address:</td>
            <td><input class="text_input" id="address_address" value="" type="text"></td>
            <td></td>
          </tr>
          <tr>
            <td class="buyer_form_label">Address 2:</td>
            <td><input class="text_input" id="address_address2" value="" type="text"></td>
            <td></td>
          </tr>
          <tr>
            <td class="buyer_form_label">City:</td>
            <td><input class="text_input_short" id="address_city" value="" type="text"></td>
            <td></td>
          </tr>
          <tr>
            <td class="buyer_form_label">State:</td>
            <td>
              
  <select class="FIXME" id="address_state" name="address_state">
    <option value=""></option>
    <option value="AK">AK</option>
    <option value="AL">AL</option>
    <option value="AR">AR</option>
    <option value="AS">AS</option>
    <option value="AZ">AZ</option>
    <option value="CA">CA</option>
    <option value="CO">CO</option>
    <option value="CT">CT</option>
    <option value="DC">DC</option>
    <option value="DE">DE</option>
    <option value="FL">FL</option>
    <option value="GA">GA</option>
    <option value="GU">GU</option>
    <option value="HI">HI</option>
    <option value="IA">IA</option>
    <option value="ID">ID</option>
    <option value="IL">IL</option>
    <option value="IN">IN</option>
    <option value="KS">KS</option>
    <option value="KY">KY</option>
    <option value="LA">LA</option>
    <option value="MA">MA</option>
    <option value="MD">MD</option>
    <option value="ME">ME</option>
    <option value="MI">MI</option>
    <option value="MN">MN</option>
    <option value="MO">MO</option>
    <option value="MS">MS</option>
    <option value="MT">MT</option>
    <option value="NC">NC</option>
    <option value="ND">ND</option>
    <option value="NE">NE</option>
    <option value="NH">NH</option>
    <option value="NJ">NJ</option>
    <option value="NM">NM</option>
    <option value="NV">NV</option>
    <option value="NY">NY</option>
    <option value="OH">OH</option>
    <option value="OK">OK</option>
    <option value="OR">OR</option>
    <option value="PA">PA</option>
    <option value="PR">PR</option>
    <option value="RI">RI</option>
    <option value="SC">SC</option>
    <option value="SD">SD</option>
    <option value="TN">TN</option>
    <option value="TX">TX</option>
    <option value="UT">UT</option>
    <option value="VA">VA</option>
    <option value="VI">VI</option>
    <option value="VT">VT</option>
    <option value="WA">WA</option>
    <option value="WI">WI</option>
    <option value="WV">WV</option>
    <option value="WY">WY</option>
    </select>
              </td>
            <td></td>
          </tr>
          <tr>
            <td class="buyer_form_label">Zip Code:</td>
            <td><input class="text_input_tiny" id="address_zipcode" value="" type="text"></td>
            <td></td>
          </tr>
          <tr>
            <td><img src="http://www.bookfresh.com/images/spacer.gif" alt="" height="1" width="100"></td>
            <td><input class="booknow_button custom_button_color" value="Next" onclick="set_address_info(); return false;" type="button"></td>
            <td></td>
          </tr>
        </tbody></table>
      </div>
    </div>
  </div>
    <div class="custom_text_color buyer_flow_step">
    <div class="custom_text_color buyer_flow_step_title">
      Provide Contact Information
    </div>
    <div id="flow_form_contact" class="buyer_flow_step_form">
      <div class="flow_form_choice">
        <table>
          <tbody><tr>
            <td class="buyer_form_label">First Name:</td>
            <td><input class="text_input" id="contact_first_name" value="" type="text"></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="buyer_form_label">Last Name:</td>
            <td><input class="text_input" id="contact_last_name" value="" type="text"></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="buyer_form_label">Email:</td>
            <td><input class="text_input" id="contact_email" value="" type="text"></td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="buyer_form_label">
              Phone:
              <span style="font-size: small;"><br>(xxx-xxx-xxxx)</span>              </td>
            <td>
              <input class="text_input_short" id="contact_phone" value="" type="text">
              <select id="contact_phone_type">
                <option value="mobile">Mobile</option>
                <option value="home">Home</option>
                <option value="work">Work</option>
              </select>
                          </td>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td class="buyer_form_label" valign="top">Note: <br>(optional)</td>
            <td><textarea class="text_input" style="height: 60px;" id="contact_comments" rows="1" cols="1"></textarea></td>
            <td></td>
          </tr>
                    <tr>
            <td>&nbsp;</td>
            <td><input id="submit_flow" class="booknow_button custom_button_color" value="Submit" onclick="return set_user_info();" type="button"></td>
            <td></td>
          </tr>
        </tbody></table>
      </div>
    </div>
  </div>

  
  <div class="custom_text_color buyer_flow_step">
    <div class="custom_text_color buyer_flow_step_title"> </div>
    <div id="flow_form_waiting" class="buyer_flow_step_form">
      <div class="flow_form_choice" style="padding-top: 30px; padding-bottom: 30px; text-align: center;">
        <img src="http://www.bookfresh.com/images/ajax-loader.gif" alt="" border="0">
        <br>
        One moment please
      </div>
    </div>
  </div>

  <div class="custom_text_color buyer_flow_step">
    <div class="custom_text_color buyer_flow_step_title">Thank You!</div>
    <div id="flow_form_done" class="buyer_flow_step_form">
      <div class="flow_form_choice">
        <div style="padding: 0px 10px 5px 10px; font-style: italic;">
        <span id="res_message">
		        Hillis Brothers is now reviewing your appointment request, and will be sending you a final confirmation shortly.
        		</span>
        </div>
        <div class="reservation_info">
          <div class="reservation_summary">You've requested:</div>
          <div class="reservation_summary">
            <span id="reservation_sub_service"></span> -
            <span id="reservation_cost"></span>
          </div>
          <div class="reservation_summary">
            <span id="reservation_date"></span> at
            <span id="reservation_time"></span>&nbsp;with&nbsp;
            <span id="reservation_staff"></span>
          </div>
        </div>
        <div class="buyer_flow_address">What happens next?</div>

        <div>
          <table cellpadding="10" cellspacing="0">
            <tbody><tr>
              <td valign="top">
                    <div>
            <span style="font-weight: bold;">Be on the lookout</span><br>
            You'll be receiving final confirmation of your appointment request via email very shortly.
          </div>
                        </td>
              <td style="border-left: 1px solid #edede6;" valign="top">
                    <div id="fb_share_wrapper" style="">
            <div>
              <span style="font-weight: bold;">Share with Facebook friends</span><br>
              Click the button below if you would like to tell your Facebook friends that you just requested an appointment with Hillis Brothers            </div>
            <div style="height: 10px;"></div>
            <div>
              <a href="#" onclick="return show_fb_feed_dialog();"><img src="http://www.bookfresh.com/images/connect_white_large_long.gif" alt="" border="0" height="27" width="194"></a>
            </div>
          </div>
                        </td>
            </tr>

          </tbody></table>
        </div>
              </div>
    </div>
  </div>
 
 
</div>


<!-- helpers -->
<div id="sub_service_description" class="custom_text_color more_info_popup ui-draggable" style="display: none;">
  <div style="float: right;"><a href="javascript:hide_more_info_popup();"><img src="http://www.bookfresh.com/images/close-icon.gif" alt="" border="0"></a></div>
  <div id="sub_service_name" class="info_title"> name </div>
  <div id="sub_service_duration"> duration </div>
  <div id="sub_service_desc"> description </div>
</div>
<div id="staff_bio" class="more_info_popup ui-draggable" style="display: none;">
  <div style="float: right;"><a href="javascript:hide_more_info_popup();"><img src="http://www.bookfresh.com/images/close-icon.gif" alt="" border="0"></a></div>
  <table>
    <tbody><tr>
      <td valign="top"> <div id="staff_bio_img"><img src="http://www.bookfresh.com/images/cubeface-icon.gif" alt="" width="80"></div> </td>
      <td valign="top">
        <div id="staff_bio_name" class="info_title">  name </div>
        <div id="staff_bio_blobs">
          <div id="blob_bio">
          <div class="user_blob_title">BIO</div>
          <div class="user_blob" id="user_blob_bio">xxx</div>
          </div>
          <div id="blob_education">
          <div class="user_blob_title">EDUCATION</div>
          <div class="user_blob" id="user_blob_education">xxx</div>
          </div>
          <div id="blob_awards">
          <div class="user_blob_title">AWARDS</div>
          <div class="user_blob" id="user_blob_awards">xxx</div>
          </div>
          <div id="blob_interests">
          <div class="user_blob_title">INTERESTS</div>
          <div class="user_blob" id="user_blob_interests">xxx</div>
          </div>
          <div id="blob_associations">
          <div class="user_blob_title">ASSOCIATIONS</div>
          <div class="user_blob" id="user_blob_associations">xxx</div>
          </div>
        </div>
      </td>
    </tr>
  </tbody></table>
</div>
<div id="shopping_cart" class="custom_header_color custom_text_color more_info_popup ui-draggable">
  <div style="float: right;"><a href="javascript:hide_more_info_popup();"><img src="http://www.bookfresh.com/images/close-icon.gif" alt="" border="0"></a></div>
  <div class="info_title">Shopping Bag</div>
  <div class="cart_line_item">
    <span>Service:</span> <span class="cart_item cart_service">30 minutes Schedule an Estimate</span> <a class="cart_links" id="cart_service_edit" href="javascript:show_step('service');">Edit</a>
  </div>
  <div style="display: none;" class="cart_line_item location_cart_line_item">
    <span>Location:</span> <span class="cart_item cart_location">customer</span> <a class="cart_links" id="cart_location_edit" href="javascript:show_step('location');">Edit</a>
  </div>
  <div style="display: none;" class="cart_line_item staff_cart_line_item">
    <span>Staff:</span> <span class="cart_item cart_staff">Painting Staff</span> <a class="cart_links" id="cart_staff_edit" href="javascript:show_step('staff');">Edit</a>
  </div>
  <div class="cart_line_item">
    <span>Time and date:</span> <span class="cart_item cart_datetime">&nbsp;</span> <a style="display: none;" class="cart_links" id="cart_datetime_edit" href="javascript:show_step('datetime');">Edit</a>
  </div>
  <div class="cart_line_item address_cart_line_item">
    <span>Address:</span> <span class="cart_item cart_address">&nbsp;</span> <a style="display: none;" class="cart_links" id="cart_address_edit" href="javascript:show_step('address');">Edit</a>
  </div>
  <div>
    <span>Contact info:</span> <span class="cart_item cart_contact">&nbsp;</span> <a style="display: none;" class="cart_links" id="cart_contact_edit" href="javascript:show_step('contact');">Edit</a>
  </div>
</div>
<div id="error_message">
  <div class="error_message_title">We encountered an error creating your reservation:</div>
  <div id="error_message_copy"></div>
  <div class="clrfx"></div>
  <div id="error_message_buttons">
    <a href="javascript:void(0);" onclick="hide_more_info_popup();"><img src="http://www.bookfresh.com/images/ok_button.gif" alt=""></a>
  </div>
</div>

</div>
</form>