html, body {
	min-width:300px;
	height:auto;
	background:transparent;
}

body {
	overflow:hidden;
}
#search-results{
	padding:20px 10px 5px 5px;
	overflow:hidden;
}
#search-results h6{ }

#search-results iframe html{
	border:none;
}
#search-results iframe {
	min-width:300px;
}


ol.search_list {
	margin-left: 15px;
	list-style-type:none;
	counter-reset: ol;
}
ol.search_list li:before {
content: counter(ol) ".";
counter-increment: ol;
float:left;
display:block;
width:20px;
text-align:right;	
padding-right:10px;
margin:2px 0px 0 -30px;
}
ol.search_list li {
	padding-bottom:20px;
	margin-left:15px;
}
span.match {
	font-size:11px;
	display:block;
	color: #be3b3b;
	
}
span.search {color: #be3b3b;}
.search_link{
	text-decoration: underline;
	color: #3d3d3d;
}
.search_link:hover{
	text-decoration: none;
	color: #000;
}

