/* CLASSES USED IN THE HORIZONTAL NAV DROPDOWNS */
#nav, #nav ul {
	margin: 0;
	padding: 0;
	float: left;
	width: 961px;
	list-style: none;
	line-height: 1;
	background: #909090;
	border: solid #fff;
	border-width: 1px 0 0;
}

#nav a {
	display: block;
	width: 10em;
	w\idth: 6em;
	color: #fff;
	text-decoration: none;
	padding: 0.25em 1em;
}

#nav a.daddy {
	background: url(../vanderkolk/images/right-arrow.html) center right no-repeat; 
}

#nav li {
	float: left;
	padding: 0;
	width: 10em;
}

#nav li ul {
	position: absolute;
	left: -999em;
	height: auto;
	width: 14.4em;
	w\idth: 13.9em;
	font-weight: normal;
	border-width: 0.25em;
	margin: 0;
}

#nav li li {
	padding-right: 12px;
	width: 13em
}

#nav li ul a {
	width: 13em;
	w\idth: 9em;
}

#nav li ul ul {
	margin: -1.75em 0 0 14em;
}

#nav li:hover ul ul, #nav li:hover ul ul ul, #nav li.sfhover ul ul, #nav li.sfhover ul ul ul {
	left: -999em;
}

#nav li:hover ul, #nav li li:hover ul, #nav li li li:hover ul, #nav li.sfhover ul, #nav li li.sfhover ul, #nav li li li.sfhover ul {
	left: auto;
}

#nav li:hover, #nav li.sfhover {
	background: #50514e;
}