/* COLOR SCHEME REFERENCE
green: #73a6a5
*/

body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 0;
}

#container {
	margin: 0 auto;
	padding: 0;
	width: 961px;
	font-size: 0.814em;
}
a {
	color: #00b1aa;
	text-decoration: none;
}

/* ==================== HEADER ==================== */
#header {
	width: 961px;
	height: 116px;	
	position: relative;
	margin: 0;
	padding: 0;
}

#logo {
	float: left;
	width: 281px;
	margin: 0;
	padding: 0;
}

#schedule {
	position: absolute;
	
	width: 300px;
	top: 75px;
	right: 12px;
	margin: 0;
}
#schedule a {
	color: #00b1aa;
	text-decoration: none;
	letter-spacing: 2px;
	
}

#phone {
	position: absolute;
	top: 20px;
	right: 35px;
	letter-spacing: 3px;
}

/* header navigation */
#navigation {
	width: 961px;
	margin: 0;
	padding: 0;
	background: #909090;
}
#navigation ul {
	text-align: right;
	margin: 0 0 2px;
	padding: 13px 0 0;
}
#navigation ul li {
 	display: inline;
	padding: 0 20px 0 0;
	text-transform: uppercase;
}
#navigation a {
	color: #fff;
	text-decoration: none;
}

/* ==================== HOMEPAGE ==================== */
/* flash module */
#home-flash {
	margin: 0 0 10px;
	padding: 0;
	width: 961px;
}

/* 2 "highlight" boxes */
#home-highlight {
	margin: 0;
	padding: 0;
}
#home-highlight .feature {
	float: left;
	width: 475px;
	background: url(../images/home_gradient.jpg) repeat-x;
	margin: 0;
	padding: 10px 0 25px;
	color: #666;
}
#home-highlight img {
	padding-right: 13px;
	margin-top: -10px;
}
#home-highlight strong {
	text-transform: uppercase;
	padding: 13px 13px 10px 0;
	letter-spacing: 4px;
	color: #000;
}
#home-highlight .alignright {
	letter-spacing: 2px;
}
#home-highlight a {
	text-decoration: none;
	color: #00b1aa;
}

/* 5 "service ad" boxes */
#home-ads {
	clear: both;
	margin: 0 auto;
	padding: 0;
	height: 150px;
}
#home-ads img {
	padding: 5px 3px 0;
	margin: 0;
}

/* 4 "service description" columns */
#home-services {
	clear: both;
	border-top: 1px solid #c7c7c7;
	margin: 0;
	padding: 0;
	color: #666666;	
}
#home-services #title {
	padding: 5px 0 0;
	text-transform: uppercase;
	letter-spacing: 5px;
}
#home-services ul {
	float: left;
	width: 225px;
	margin: 25px 0 20px 15px;
	padding: 0;	
	
}

/* ==================== FOOTER ==================== */
#footer {
	clear: both;
	border-top: 1px solid #909090;
	margin: 0 0 10px 0;
	padding: 0 ;
}
#footer ul {
	float: right;
	margin: 5px 0 0;
	padding: 0;
}
#footer ul li {
	display: inline;
	padding: 10px 20px 0 0;
	color: #909090;
	letter-spacing: 1px;
	font-size: 80%;
}

/* ==================== text-related formatting classes ==================== */
.aligncenter {
	text-align: center;
}
.alignright {
	text-align: right;
}

















/* ==================== SUBPAGES ==================== */
#subpage-body {
	margin: 0;
	padding: 0;
	color: #333333;
}

#subpage-nav {
	width: 240px;
	float: left;
	background: url(../vanderkolk/images/subpage_nav_bg.html) repeat-x;
	min-height: 90px;
	font-size: .9em;
}
#subpage-nav ul {
	margin: 15px 0 0;
	padding: 0;
	list-style: none;
}
#subpage-nav ul li {
	margin: 0;
	padding: 0;
	text-transform: uppercase;
}
#subpage-nav ul li ul li {
	margin: 0;
	padding: 0;
	text-transform: none;
}
#subpage-nav ul li a {
	display: block;
	padding: 3px 15px;
	color: #00b1aa;
	text-decoration: none;
	letter-spacing: 2px;
}
#subpage-nav ul li a.active {
	color: #666;
	background-color: #d9d9d9;
}



#subpage-content {
	width: 690px;
	margin: 15px 0 15px 240px;
	padding: 15px;
	background: url(../vanderkolk/images/subpage_content_bg.html) repeat-y;
}
#subpage-content h2 {
	color: #909090;
	text-transform: uppercase;
	margin: 0 0 1em;
	font-weight: normal;
	font-size: 120%;
	letter-spacing: 3px;
}

.service-feature {
	float: left;
	width: 315px;
	margin: 0;
	padding: 0;
}
.service-feature strong {
	font-weight: 400;
	text-transform: uppercase;
}
.image-right { 
float: right;
padding-left: 10px;
padding-bottom: 20px;
}

.image-left { 
float: left;
padding-right: 10px;
padding-bottom: 10px;
}